<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.3.1" targetFramework="net48" />
  <package id="Selenium.Support" version="4.7.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.7.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="110.0.5481.7700" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="VS.QualityTools.UnitTestFramework" version="15.0.27323.2" targetFramework="net48" />
</packages>